# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/


# Docker
*.pid
*.seed
docker-compose.override.yml

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
test_*.xml
.tox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# pipenv
Pipfile.lock

# pyenv
.python-version
